:root {
  /***********************
  Base Color palette
***********************/
  --base-primary-color: #eb763c;

  --base-secondary-color-1: #1aa928;
  --base-secondary-color-2: #e4fbe7;
  --base-secondary-color-3: #d6f5e1;

  --base-menu-text-color: #abb5ba;
  --base-menu-icon-color: #ffffff;

  --base-search-bar-background-color: #ecf0f3;
  --base-search-bar-text-color: #b2bac8;

  --base-white-color: #ffffff;
  --base-black-color: #000000;

  --base-page-background-color: #f9f9f9;

  --base-book-text-color: #8d96a8;

  --author-border-color: #27a857;
  /***********************
  Typography
***********************/

  /** body, paragraph **/
  --font-body: 14px;
  /** h1 **/
  --font-h1-desktop: 30px;
  --font-h1-mobile: 24px;
  /** h2 **/
  --font-h2-desktop: 24px;
  --font-h2-mobile: 20px;
  /** h3 **/
  --font-h3-desktop: 22px;
  --font-h4-desktop: 20px;
  --font-h5-desktop: 18px;

  /** h6 **/
  --font-h6-desktop: 16px;
  --font-h6-mobile: 13px;
  /** others **/
  --font-nav-menu: 14px;
  --font-button: 14px;
  --font-profile-desktop: 17px;

  /** font family **/
  --font-family: "Nunito", sans-serif;

  /** font weights **/
  --font-weight-100: 100; /** thin **/
  --font-weight-300: 300; /** light **/
  --font-weight-400: 400; /** regular **/
  --font-weight-500: 500; /** medium **/
  --font-weight-700: 700; /** bold* */
  --font-weight-900: 900; /** black **/
}
